<div class="wrapper">
  <div class="sidebar" style="flex: 1">
    <div
      flowchartStep
      [pendingStep]="{
        STEP_NAME: 'BLOCK_1',
        canDropAnywhere: true,
      }"
    >
      1
    </div>
    <div
      flowchartStep
      [pendingStep]="{
        STEP_NAME: 'BLOCK_2',
      }"
    >
      2
    </div>
    <div
      flowchartStep
      [pendingStep]="{
        STEP_NAME: 'BLOCK_3',
      }"
    >
      3
    </div>
  </div>

  <flowchart class="flowchart"></flowchart>
</div>
