body {
  max-height: 100vh;
  margin: 0;
  padding: 0;
}

/* total width */
*::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

/* scrollbar itself */
*::-webkit-scrollbar-thumb {
  background-color: gray;
  border-radius: 16px;
}

/* set button(top and bottom of the scrollbar) */
*::-webkit-scrollbar-button {
  display: none;
}

* {
  font-family: "Montserrat", sans-serif !important;
}

:root {
  --primary-color: #387bfd;
  --gray-100: rgba(0, 0, 0, 0.03);
}

/* Importing Bootstrap SCSS file. */
@import "bootstrap/scss/bootstrap";
